h1{
    text-align: center;
}
.fa-github {
    font-size: 1.2rem;
    color: white;
}

.fa-github:hover {
    color: grey;
}
.logo {
    width: 60px;
    background:transparent;
}
.table{
    font-size:20px;
}
.submit-btn {
    width: 80%;
}
.bg{
    background: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

footer{
    background: transparent;
    color: white;
}

.txt{
    color: white;
}

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.i,.form-control{
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.389);
    color: white;
}

.i:focus,.form-control:focus{
    background: transparent;
    color: white;
}
.jumbotron{
    background: transparent;
    color: white;
}