h1{
    text-align: center;
}
.fa-github {
    font-size: 1.2rem;
    color: white;
}

.fa-github:hover {
    color: grey;
}
.logo {
    width: 60px;
    background:transparent;
}
.table{
    font-size:20px;
}
.submit-btn {
    display: flex;
    width: 80%;
    background-color: #9bd6b0;
    color: black;
    height: 50px;
    border-radius:20px;
    align-items: center;
    justify-content: center;
}

.submit-btn:hover {
    background-color: #00ab66;
    color: white;
}

.bg{
    background: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

footer{
    background: transparent;
    color: white;
}

.txt{
    color: white;
}

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.i{
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.389);
    color: white;
}

.i:focus{
    background: transparent;
    color: white;
}